# Файл: ~/.config/nvim/snippets/python.snippets

snippet def
    def ${1:function_name}(${2:args}):
        ${0}

snippet splitprint 
	print()
	print(${1})
	print()
        ${0}

snippet bs
	${1} = ${2}.find("${3}", class_="${4}")

snippet print 
	print(${1})

snippet save_to_file

	with open('${1}', '${2}') as f:
	    f.write(${3})

